@import "normalize.scss";
*{
  box-sizing: border-box;
  font-family: 'Clear Sans', 'Arial', sans-serif;
}
body{
  min-width: 1170px;
}
p, h1, h2, h3, h4, ul, form{
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: black;
}
input, textarea{
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
}
button{
  border: none;
}
fieldset{
  border: none;
  margin: 0;
  padding: 0;
}
legend{
  border: none;
  margin: 0;
  padding: 0;
}
@import "blocks/container.scss";
@import "blocks/upper-menu.scss";
@import "blocks/header.scss";
@import "blocks/phone-block.scss";
@import "blocks/main-menu.scss";
@import "blocks/top-slider";
@import "blocks/main-content.scss";
@import "blocks/product-categories.scss";
@import "blocks/content-header.scss";
@import "blocks/slider-block.scss";
@import "blocks/item-symbols.scss";
@import "blocks/btn.scss";
@import "blocks/news.scss";
@import "blocks/articles-block.scss";
@import "blocks/trade-equipment.scss";
@import "blocks/footer.scss";
@import "blocks/navigation.scss";