.main-content{
  border-bottom: 4px solid #ffb144;
}
.main-content__left-column{
  a{
    display: block;
    margin-top: 930px;
  }
}
.main-content__right-column{
  padding-left: 30px;
  width: 900px;
}