.phone-block{
  width: 200px;
  padding-top: 15px;
  padding-left: 20px;
  img{
    vertical-align: baseline;
  }
}
.phone-block__number{
  font-size: 18px;
  line-height: 25px;
}
.phone-block__info{
  font-size: 13px;
  line-height: 16px;
}