.top-slider__container{
  position: relative;
  .slide1{
    background: url("../images/slide1.png") center no-repeat;
  }
  .slide2{
    background: url("../images/slide2.png") center no-repeat;
  }
  .slide3{
    background: url("../images/slide3.png") center no-repeat;
  }
  .slide4{
    background: url("../images/slide4.png") center no-repeat;
  }
}
.top-slider__carousel{
  position: relative;
}
.top-slider__slide{
  min-height: 186px;
}
.top-slider__navigation-dots{
  display: flex;
  li{
    min-height: 19px;
    min-width: 19px;
    font-size: 12px;
    padding: 0 4px;
    margin-right: 12px;
    border: 1px solid #d5d5d5;
    text-align: center;
    cursor: pointer;
  }
  .active{
    background-color: rgb( 255, 175, 1 );
  }
}